/******************** Defaults ************************/
body,nav{
  display: block;
  margin: 0;
}
/******************** Nav-bar ************************/
nav{
  width: 100%;
}
nav ul{
  background-color:#343a40;
  overflow: hidden;
  margin: 0;
  height: 40px;
  /* padding-top: 10px; */
}

ul.top-nav li{
  float: left;
  list-style: none;
}
ul.top-nav li a{
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: white;
}
ul.top-nav li a:hover{
  color: #666;
  background-color: white;

}
ul.top-nav li a.lim:hover{
  color: white;
  background-color: #343a40;
}
ul.top-nav li.right{
  float: right;
}
